.event_fields {
	max-height: "200px";
	max-width : "300px";
	margin: 5px;
	display: inline-block;

}

.link-btn {
	max-width: "300px";
}

.event_group {

	background-color: #FAFAFA;
	border: 1px solid #E6E6E6;
	max-width: 700px;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 15px;
		
}

.event-polls {
	width: 100%;
	
	
}

.polls-row{
	width: 30px;
}

.event-polls span{
	cursor:pointer;
	float: left;
	
}

.polls_arrow{
	width: 20px;
	display:block;
	cursor: pointer;
}

#polls_arrow_down{
	height: 20px;
	display:block;
}

#polls_arrow_up{
	height: 0;
	display:block;
}

.event-polls .add-new{
	cursor:pointer;
	float: right;
	padding:5px;
	font-weight:none;
	
}



.event_error {

	color: #FF0000;
	
	
}

.event_table {

	border: medium solid #E6E6E6;
	width: 100%;
	
	
}

.event_tr {

	border: medium dotted #E6E6E6;
	
	
}

.show_table {

	background-color: #FAFAFA;
	border: 1px solid #E6E6E6;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
	
	
	
}

.show_tr {
	border-bottom-style:dotted;
	border-bottom-color: #E6E6E6;
}

.show_btn {
	padding-right:30px;
	padding-left:5px;
}

.show_td {
	padding-left:5px;
}


/* events/_studentview.html.erb Style */


.hidden{
    display: none;
}

header, #chatContainer, #inputContainer textarea:hover, #memberContainer ul#memberList li div.member {
	background: #eee;
}

header div#logout img#disconnect:hover, #memberContainer ul#memberList li div.member:hover, ul#feedback li:hover,
header div#stopIcon img#stop:hover, img#go {
    cursor: pointer;
}

header  img, #memberContainer ul#memberList li div.image  img {
    width: 100%;
    height: 100%;
}

/* Dialog Styles*/

div#loginDialog label {
    display: block;
}

textarea#pmMessage {
    width: 100%;
    height: 100%;
    resize: none;
}

/* END Dialog Styles*/
/* Header */

header {
	margin: 0 0 2% 0;
	padding: 2px 0 2px 0;
	width: auto;
    height: 35px;
}

/* THIS will make the auditorium header break!
header > div {
	float: left;
}
*/

header div#icon, header div#logout, header div#stopIcon{
	height: 100%;
    width: 5%;
}

header div#avatar {
    width: 20%;
    margin: 10px 1% 0 1%;
}

header div#stopIcon img#stop {
	height: 35px;
 	max-width: 35px;
	padding: 2px;	
}

header div#status {
    width: 61%;
    margin: 10px 1% 0 1%;
}

header div#logout img#disconnect{
 	height: 25px;
 	max-width: 20px;
	float: right;
	padding: 5px;		
}

/* END Header */
/* Basic Layout */

#page {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 650px;
    min-height: 400px;
}

#chatContainer, #memberContainer {
    height: 70%;
    border: 1px solid #3B5998;
	overflow: auto;
	padding: 0.5%;
	margin-bottom: 1%;
}

#chatContainer {	
    width: auto;
    word-wrap: break-word;   
}

#memberContainer {
	margin-left: 25px;
    width: 220px;
    float: right;	
}

#inputContainer{
    clear: both;
    width: 100%;
	float: bottom;
}

#inputContainer{
    height: 10%;
}

#inputContainer textarea {
	width: 99%;
	height: 99%;
    border: thin solid #3B5998;
    border-radius: 10px;
    resize: none;
    overflow: auto;	
	padding: 0.5%;
}

/* END Basic Layout */
/* ChatContainer Elements */

#chatContainer div {
    font-size: 90%;
}

#chatContainer div.message {
    padding: 2px;
    margin: 8px;
    background: white;
}

#chatContainer div.message div.head {
    color: #3B5998;
    font-style:italic;
}

#chatContainer div.private div.body {
    background: #3B5998;
    color: white;
}

/* END ChatContainer Elements */
/* MemberContainer Elements */

#memberContainer ul#memberList {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

#memberContainer ul#memberList li div.member {
    width: 100%;
	height: 30px;
    float: left;
    margin-bottom: 1.5%;
}

#memberContainer ul#memberList li div.image {
    float: left; 
    width: 15%; 
    height: 100%; 
    margin-right: 2%;
}

#memberContainer ul#memberList li div.nick {
    float: left;
    width: 83%;
	padding: 2% 0;
}

#memberContainer ul#memberList li div.member:hover {
    background-color: white;
}

/* END MemberContainer Elements */

/* prof controls */
#mood {
	position:relative;
}

#mood .prof-control {
	position: relative;
	height:40px;
}

#mood .btn-left {
	position: absolute;
	padding: 0 9px;
	line-height: 16px;
	top: 17px;
	left:0px;
	width: 50%;
	text-align: left;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
} 

#mood .btn-right {
	position: absolute;
	padding: 0 9px;
	line-height: 16px;
	right:0px;
	top: 17px;
	width: 50%;
	text-align: right;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
} 



#mood .prof-control-ammount-left {
	position: absolute;
	line-height: 16px;
	color: #fff;
	left: 20px;
}

#mood .prof-control-ammount-right {
	position: absolute;
	line-height: 16px;
	color: #fff;
	right: 20px;
}



#mood .back {
	position: absolute;
	width: 100%;
	height: 17px;
	background-color: rgba(200,200,200,0.666);
	border-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#mood .right {
	position: absolute;
	height: 10px;
	top: 3px;
	left:50%;
	background-color: #0f0;
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}


#mood .left {
	position: absolute;
	height: 10px;
	top: 3px;
	right:50%;
	background-color: #f00;
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

#mood .center {
	position: absolute;
	height: 17px;
	width: 2px;
	right: 50%;
	margin-right: -1px;
	background-color: #fff;
}


/* to get attention to new messages(polls) */
@-webkit-keyframes blink {
	0% {
		color: #000;
		text-shadow: none;
	}
	50% {
		color: red;
		text-shadow: 1px 1px 3px;
	}
	100% {
		color: #000;
		text-shadow: none;
	}
}

.blinkOnce{ 
	-webkit-animation-name: blink; 
	-webkit-animation-iteration-count: 2;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
}

.hidden{
    display: none;
}

#loginDialog{
	display:none;
}

header, #chatContainer, #inputContainer textarea:hover, #memberContainer ul#memberList li div.member {
	background: #eee;
}

header div#logout img#disconnect:hover, #memberContainer ul#memberList li div.member:hover, ul#feedback li:hover,
header div#stopIcon img#stop:hover, img#go {
    cursor: pointer;
}

header  img, #memberContainer ul#memberList li div.image  img {
    width: 100%;
    height: 100%;
}

/* Dialog Styles*/

div#loginDialog label {
    display: block;
}

textarea#pmMessage {
    width: 100%;
    height: 100%;
    resize: none;
}

/* END Dialog Styles*/
/* Header */

header {
	/* margin: 0 0 2% 0; THIS WILL ALSO MAKE THE HEADER BREAK */
	margin-bottom: 0;
	padding: 2px 0 2px 0;
	width: auto;
	height: 35px;
}

/* AND AGAIN: this will make the header stop from being centered
	just please: dont break the style!!
header > div {
	float: left;
}
*/
header div#icon, header div#logout, header div#stopIcon{
	height: 100%;
    width: 5%;
}

header div#avatar {
    width: 20%;
    margin: 10px 1% 0 1%;
}

header div#stopIcon img#stop {
	height: 35px;
 	max-width: 35px;
	padding: 2px;	
}


header div#status {
    width: 61%;
    margin: 10px 1% 0 1%;
}

header div#logout img#disconnect{
 	height: 25px;
 	max-width: 20px;
	float: right;
	padding: 5px;		
}

/* END Header */
/* Basic Layout */

#page {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 650px;
    min-height: 400px;
}

#chatContainer, #memberContainer {
    height: 70%;
    border: 1px solid #3B5998;
	overflow: auto;
	padding: 0.5%;
	margin-bottom: 1%;
}

#chatContainer {	
    width: auto;
    word-wrap: break-word;   
}

#memberContainer {
	margin-left: 25px;
    width: 220px;
    float: right;	
}

#inputContainer{
    clear: both;
    width: 100%;
	float: bottom;
}

#inputContainer{
    height: 10%;
}

#inputContainer textarea {
	width: 99%;
	height: 99%;
    border: thin solid #3B5998;
    border-radius: 10px;
    resize: none;
    overflow: auto;	
	padding: 0.5%;
}

/* END Basic Layout */
/* ChatContainer Elements */

#chatContainer div {
    font-size: 90%;
}

#chatContainer div.message {
    padding: 2px;
    margin: 8px;
    background: white;
}

#chatContainer div.message div.head {
    color: #3B5998;
    font-style:italic;
}

#chatContainer div.private div.body {
    background: #3B5998;
    color: white;
}

/* END ChatContainer Elements */
/* MemberContainer Elements */

#memberContainer ul#memberList {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

#memberContainer ul#memberList li div.member {
    width: 100%;
	height: 30px;
    float: left;
    margin-bottom: 1.5%;
}

#memberContainer ul#memberList li div.image {
    float: left; 
    width: 15%; 
    height: 100%; 
    margin-right: 2%;
}

#memberContainer ul#memberList li div.nick {
    float: left;
    width: 83%;
	padding: 2% 0;
}

#memberContainer ul#memberList li div.member:hover {
    background-color: white;
}

.ui-dialog .ui-dialog-titlebar-close{
	margin: -12px 0 0 0;
	height: auto;
}


/* END MemberContainer Elements */

#mood {
	position:relative;
}

#mood .prof-control {
	position: relative;
	height:40px;
}

#mood .btn-left {
	position: absolute;
	padding: 0 9px;
	line-height: 16px;
	top: 17px;
	left:0px;
	width: 50%;
	text-align: left;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
} 

#mood .btn-right {
	position: absolute;
	padding: 0 9px;
	line-height: 16px;
	right:0px;
	top: 17px;
	width: 50%;
	text-align: right;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
} 



#mood .prof-control-ammount-left {
	position: absolute;
	line-height: 16px;
	color: #fff;
	left: 20px;
}

#mood .prof-control-ammount-right {
	position: absolute;
	line-height: 16px;
	color: #fff;
	right: 20px;
}



#mood .back {
	position: absolute;
	width: 100%;
	height: 17px;
	background-color: rgba(200,200,200,0.666);
	border-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#mood .right {
	position: absolute;
	height: 10px;
	top: 3px;
	left:50%;
	background-color: #0f0;
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}


#mood .left {
	position: absolute;
	height: 10px;
	top: 3px;
	right:50%;
	background-color: #f00;
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

#mood .center {
	position: absolute;
	height: 17px;
	width: 2px;
	right: 50%;
	margin-right: -1px;
	background-color: #fff;
}
