.event_fields {
	height: "200px";
	width : "300px";
	margin: 5px;
	display: inline-block;

}

.event_group {

	background-color: #FAFAFA;
	border: 1px solid #E6E6E6;
	width: 700px;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 15px;
	
	
}

.event_error {

	color: #FF0000;
	
	
}

.event_table {

	border: medium solid #E6E6E6;
	width: 100%;
	
	
}

.event_tr {

	border: medium dotted #E6E6E6;
	
	
}

.show_table {

	background-color: #FAFAFA;
	border: 1px solid #E6E6E6;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
	
	
	
}

.show_tr {
	border-bottom-style:dotted;
	border-bottom-color: #E6E6E6;
}

.show_btn {
	padding-right:30px;
	padding-left:5px;
}

.show_td {
	padding-left:5px;
}
