.event_fields {
	max-height: "200px";
	max-width : "300px";
	margin: 5px;
	display: inline-block;

}

.link-btn {
	max-width: "300px";
}

.event_group {

	background-color: #FAFAFA;
	border: 1px solid #E6E6E6;
	max-width: 700px;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 15px;
	
	
}

.event-polls {
	width: 100%;
	
	
}

.polls-row{
	width: 30px;
}

.event-polls span{
	cursor:pointer;
	float: left;
	
}

.polls_arrow{
	width: 20px;
	display:block;
	cursor: pointer;
}

#polls_arrow_down{
	height: 20px;
	display:block;
}

#polls_arrow_up{
	height: 0;
	display:block;
}

.event-polls .add-new{
	cursor:pointer;
	float: right;
	padding:5px;
	font-weight:none;
	
}



.event_error {

	color: #FF0000;
	
	
}

.event_table {

	border: medium solid #E6E6E6;
	width: 100%;
	
	
}

.event_tr {

	border: medium dotted #E6E6E6;
	
	
}

.show_table {

	background-color: #FAFAFA;
	border: 1px solid #E6E6E6;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
	
	
	
}

.show_tr {
	border-bottom-style:dotted;
	border-bottom-color: #E6E6E6;
}

.show_btn {
	padding-right:30px;
	padding-left:5px;
}

.show_td {
	padding-left:5px;
}
