// Place all the styles related to the PollResults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.poll-result-bar {
	position:absolute;
	height: 5px;
}

.poll-result-bar.correct {
	background-color: #0f0;
}

.poll-result-bar.incorrect {
	background-color: #f00;
}

.poll-result-bar-wrap {
	position:relative;
}
.poll-result-count {
	float:right;
	padding: 0;
}
.poll-result {
	margin-bottom:20px

}

.poll-result h4 {
	margin:0;
}

.poll-results {

}