<div class="choice">

	<%= form_for (choice), :remote => false do |choice_form| %>
		<p>
			<label class="category-select">
            	<%= choice_form.check_box :is_correct %>
  				answer is correct
			</label>
            <label for="answertext" class="accessibility"> answer of the poll</label>
            <%= choice_form.text_field :answertext, :placeholder => "a possible answer...", :class => "span8"%>
		</p>
	 <% end %> 
</div>


