<div class="row">
	<div class="span6"> Chat </div>
	<div class="span4"> Stimmungsbarometer</div>
</div>
<div class="row">
	<div class="span6"> Umfragen </div>
	<div class="span4"> Ergebnisse </div>
</div>