<div style="overflow:hidden; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease;" id="course_questions">

<% if @questions.count == 0 %>
  <p class="hint">
    <p class="pull-right"><small>sorted by last activity</small></p>
    No questions were asked, yet. <%= link_to 'Ask your question.', new_post_path(:post_type => 'question', :course_id => @course.id) %>
  </p>
<% else %> 
  <% for question in @questions %>
    <%= render :partial => 'posts/post_teaser', :locals => { :post => question} %>
  <% end %>

  <%= paginate @questions %>
<% end %>
</div>
